// Add variables here
$color-primary: #3046C5;
$color-pale: #CEC8FF;

$body-font: Arial, sans-serif;
$header-font: Georgia, serif;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header h2 {
    color: $color-pale;
}

.site-footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}